In [1]:
import os
os.getcwd()

'/home/workspace'

In [2]:
import pandas as pd
import json

In [13]:
df = pd.read_json(os.getcwd() + '/data/log_data/2018/11/2018-11-29-events.json', lines=True)

In [14]:
df.iloc[0:3]

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,1543449841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

In [15]:
df.columns

Index(['artist', 'auth', 'firstName', 'gender', 'itemInSession', 'lastName',
       'length', 'level', 'location', 'method', 'page', 'registration',
       'sessionId', 'song', 'status', 'ts', 'userAgent', 'userId'],
      dtype='object')

In [20]:
df.shape

(366, 18)

In [28]:
df.page.value_counts()

NextSong     319
Home          30
Login          6
Logout         4
Downgrade      4
About          1
Help           1
Settings       1
Name: page, dtype: int64

In [36]:
pd.to_datetime(df.iloc[0:1].ts, unit = 'ms')

0   2018-11-29 00:00:57.796
Name: ts, dtype: datetime64[ns]

In [16]:
df1 = pd.read_json(os.getcwd() + '/data/song_data/A/A/A/TRAAAVG12903CFA543.json', lines=True)

In [17]:
df1.iloc[0:3]

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARNTLGG11E2835DDB9,NaN,,NaN,Clp,266.39628,1,SOUDSGM12AC9618304,Insatiable (Instrumental Version),0

In [18]:
df1.columns

Index(['artist_id', 'artist_latitude', 'artist_location', 'artist_longitude',
       'artist_name', 'duration', 'num_songs', 'song_id', 'title', 'year'],
      dtype='object')