# First look datasets

In [19]:
import os
import pandas as pd
import csv
import glob

In [3]:
os.getcwd()

'/home/workspace'

In [17]:
df = pd.read_csv(os.getcwd() + "/event_data/2018-11-01-events.csv", index_col=False)
df.head(3)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userId
0,NaN,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1.540920e+12,38,NaN,200,1.541110e+12,39
1,NaN,Logged In,Kaylee,F,0,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1.540340e+12,139,NaN,200,1.541110e+12,8
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540340e+12,139,You Gotta Be,200,1.541110e+12,8

In [46]:
# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))

In [29]:
li = []
for files in file_path_list:
    df = pd.read_csv(files, index_col=None, header=0)
    li.append(df)
    
df = pd.concat(li, axis=0, ignore_index=True)

In [30]:
df.shape

(8056, 17)

In [37]:
df.head(3)

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
0,NaN,Theodore,M,0,Smith,NaN,free,"Houston-The Woodlands-Sugar Land, TX",154,NaN,52.0
1,Professor Longhair,Ann,F,0,Banks,214.20363,free,"Salt Lake City, UT",124,Mean Ol'World,99.0
2,NaN,Jahiem,M,0,Miles,NaN,free,"San Antonio-New Braunfels, TX",42,NaN,43.0

In [33]:
selected_cols = ['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId']

In [34]:
df = df[selected_cols]

In [35]:
df.shape

(8056, 11)

In [55]:
pd.Series(df['sessionId'].value_counts())

589     128
984     118
324     114
672     107
293     106
221     105
1041     96
605      95
411      88
269      86
619      82
548      82
594      80
957      77
764      77
172      76
648      75
486      75
818      74
983      73
992      72
392      66
758      66
152      64
716      62
559      62
797      62
620      62
1076     62
294      60
       ...
154       1
217       1
229       1
233       1
283       1
241       1
245       1
287       1
567       1
153       1
145       1
263       1
298       1
290       1
1048      1
251       1
262       1
599       1
1108      1
254       1
9         1
246       1
242       1
53        1
97        1
587       1
234       1
125       1
230       1
6         1
Name: sessionId, Length: 941, dtype: int64